/* Body styles */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

/* Heading styles */
h1 {
    font-size: 2.5em;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 10px;
}

/* Button styles */
#summarizeButton,
#readAloudButton,
#downloadButton,
#fastForwardButton {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Secondary button styles */
#pauseButton,
#resumeButton,
#downloadButton,
#searchButton,
#searchInput,
#fastForwardButton {
    display: none;
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover styles */
#summarizeButton:hover,
#readAloudButton:hover,
#pauseButton:hover,
#resumeButton:hover,
#downloadButton:hover,
#searchButton:hover,
#fastForwardButton:hover {
    background-color: #0056b3;
}

/* Summary container styles */
#summary {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    width: calc(100% - 20px);
    display: none;
    white-space: nowrap;
    overflow: auto;
    font-weight: 400;
    border-radius: 5px;
    text-align: left !important;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Individual summary item styles */
#summary div {
    margin-bottom: 10px;
}

/* Voice selection dropdown styles */
#voiceSelect {
    display: none;
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Voice selection dropdown option styles */
#voiceSelect option {
    background-color: #ffffff;
    color: #000;
}

/* Highlighted text styles */
.highlight {
    background-color: yellow;
    font-weight: bold;
}

/* Search input styles */
#searchInput {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #007bff;
}